<!doctype html>
<html class="myhtml">

<head>
	<title>UNLV CS Mentor App - Individual Assign</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main_menu.css')}}">
	<style>
	</style>
</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jquery.flexdatalist.min.css') }}">
	<script src="{{url_for('static', filename='jquery.flexdatalist.min.js')}}"></script>
	<script>
	window.console = window.console || function(t) {};
	if(document.location.search.match(/type=embed/gi)) {
		window.parent.postMessage("resize", "*");
	}
	</script>
	<ul id="dropdown1" class="dropdown-content">
		<li class="divider"></li>
		<li><a href="/change_password">Change Password</a></li>
		<li><a style="color:#e74c3c" href="delete_account">Delete This Account</a></li>
		<li class="divider"></li>
		<li><a style="color:grey" href="/logout">Log Out</a></li>
	</ul>
	<nav>
		<div class="nav-wrapper" style="background-color: #2b97d6;">
			<a href="/login" style="margin-left: 20px;margin-right: 40px;position:relative; cursor:pointer;" class="brand-logo left">HOME</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a style="background-color: rgba(0,0,0,0.19);">Individual Assign</a></li>
				<li><a onclick='window.location.href = "/multiple_assign_page";'>Mass Assign</a></li>
				<li><a onclick="redirect2()">Table</a></li>
				<li><a onclick='window.location.href = "/manage_mentors"'>Manage Mentors</a></li>
				<li><a onclick='window.location.href = "/manage_students"'>Manage Students</a></li>
				<li><a onclick='window.location.href = "/backup_database"'>Backup Database</a></li>
				<li><a onclick='window.location.href = "/restore_database"'>Restore Database</a></li>
				<li>
					<a onclick='window.location.href = "/approve_accounts"'>Account Approval {% if new_approve_accounts > 0 %} <span class="new badge my_badge">{{new_approve_accounts}}</span> {% endif %} </a>
				</li>
				<li><a style="position: absolute;right: 0px; margin-right: 20px;" class="dropdown-trigger" href="#!" data-target="dropdown1">{{ current_user_name[0]|upper}}{{current_user_name[1:] }}<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>
	<div id="page-wrapper">
		<div id="topRightCornerFunctionGroup">
			<i id="settingIconButton" data-modal-trigger="trigger-2" class="large material-icons trigger" onclick="settingButtonFunction()">settings</i>
			<div id="switchGroup" style="margin-right: 93px;">
				<label style="font-size:1rem;color:black;cursor: default;">New Student</label>
				<div class="switch" style="margin-left: 10px;">
					<label style="font-size:10px;">
						<input type="checkbox">
						<span class="lever"></span>
					</label>
				</div>
			</div>
		</div>
		<h1 class="myh1">Student and Mentor Form</h1>
		<label for="default" class="myLabel" id="studentLabel">Choose a Student</label>
		<input type='text' class='myInput flexdatalist student' data-search-in='studentName' data-selection-required='true' data-value-property='*' data-min-length='0' id='itemsInput' name='student_name_input' placeholder="Student Name" autocomplete="off" searchContain="true" />
		<label for="default" class="myLabel errorLabel" id="studentErrorLabel">Student name can not be empty.</label>
		<label style="display:none;" for="default" class="myLabel" id="studentLastNameLabel">Student Last Name</label>
		<input style="display:none;" class="myInput" type="text" id="studentLastNameInput" placeholder="Last Name" spellcheck="false" autocomplete="on" onfocus="studentLastNameInputOnFocusFunction()" />
		<label for="default" class="myLabel errorLabel" id="studentLastNameErrorLabel">Student last name can not be empty.</label>
		<label style="display:none;" for="default" class="myLabel" id="studentFirstNameLabel">Student First Name</label>
		<input style="display:none;" class="myInput" type="text" id="studentFirstNameInput" placeholder="First Name" spellcheck="false" autocomplete="on" onfocus="studentFirstNameInputOnFocusFunction()" />
		<label for="default" class="myLabel errorLabel" id="studentFirstNameErrorLabel">Student first name can not be empty.</label>
		<label style="display:none;" for="default" class="myLabel" id="studentRebelMailLabel">Student Rebel Mail</label>
		<input style="display:none;" class="myInput" type="text" id="studentRebelMailInput" placeholder="student@unlv.nevada.edu" spellcheck="false" onfocus="studentRebelMailInputOnFocusFunction()" />
		<label for="default" class="myLabel errorLabel" id="studentRebelMailErrorLabel">Student rebel mail can not be empty.</label>
		<div id="calenderDiv" style="display:inline-flex;width:100%;">
			<div class='calenderLabelDiv'>
				<label for="default" class="myLabel" id="studentRebelMailLabel1">Assign Date</label>
				<input type="text" autocomplete="off" class="datepicker assignDateCalendar" id="assignDateCalendarId" style="width:100%" onfocus='this.value="";document.getElementById("dateErrorLabel").style.display="none";'>
			</div>
			<div style="width:20%"></div>
			<div class='calenderLabelDiv'>
				<label for="default" class="myLabel" id="studentRebelMailLabel2">End Date</label>
				<input type="text" autocomplete="off" class="datepicker endDateCalendar" id="endDateCalendarId" style="width:100%" onfocus='this.value="";document.getElementById("dateErrorLabel").style.display="none";'>
			</div>
		</div>
		<label for="default" class="myLabel errorLabel" id="dateErrorLabel">Assigned date can not be later than end date.</label>
		<label for="default" class="myLabel">Choose a Mentor</label>
		<input type='text' class='myInput flexdatalist mentor' data-search-in='professorName' data-selection-required='true' data-value-property='*' data-min-length='0' id='itemsInput2' name='country_allresults' placeholder="Mentor Name" autocomplete="off" />
		<label for="default" class="myLabel errorLabel" id="mentorErrorLabel">Mentor name can not be empty.</label>
		<h4 style="margin-top:15px; font-weight:600; font-size:18px;" id="studentCountPerMentor"><span id="studentCountPerMentor1"></span><span id="studentCountPerMentor2"></span><span id="studentCountPerMentor3"></span></h4>
		<div id="empty"></div>
		<div style="text-align: center">
			<input class="trigger assign_button" data-modal-trigger="trigger-2" style="outline: none;" onclick="assignButtonFunction()" id="assign_button_id" type="submit" value="Assign Mentor" />
		</div>
		<label for="default" class="myLabel errorLabel" id="mentorCountErrorLabel">Current mentor has to many students, please assign another mentor for this student.</label>
		<label for="default" class="myLabel errorLabel" id="assignmentErrorLabel"></label>
	</div>
</body>
<!--------------------modal for confirmation------------------------------------->
<div class="my_modal" data-modal="trigger-2" id="modal_for_confirmation">
	<article class="my_content-wrapper">
		<button class="my_close" onclick="closeConfirmationModalAndResetGloablVariables()"></button>
		<header class="my_modal-header">
			<h2 style="font-size:1.5vw;">Student Assignment Confirmation
				<!---<img style="height: 7vh;width: 7vh; margin-left: 1.9vh; margin-top: -1.1vh;position: absolute;"src="{{url_for('static', filename='images/icons/confirmation_icon.png')}}"></img>--->
			</h2>
		</header>
		<div class="my_content">
			<p>Student <span id="student_name_span" style="font-weight:bold;">StudentName</span> is going to be assigned to professor <span id="mentor_name_span" style="font-weight:bold;">MentorName</span>.<br>Please confirm this action.</p>
		</div>
		<form id="checkBoxForm">
			<input type="checkbox" id="checkBoxForEmail" name="checkBoxForEmail-4" checked="true">
			<label for="checkBoxForEmail" style="-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; font-size: 0.9vw;"> Notify the professor and the student <span id="mentor_name_span2"></span> via E-mail. </label>
		</form>
		<footer class="my_modal-footer">
			<button class="trigger my_action" data-modal-trigger="trigger-2" onclick="confirmButtonFunction()" id="confirmButtonOnModal1">Confirm</button>
			<button class="my_action" onclick="closeConfirmationModalAndResetGloablVariables()">Cancel</button>
		</footer>
	</article>
</div>
<!--------------------modal for confirmation end----------------------------------->
<!--------------------modal for successful asignment ----------------------------------->
<div class="my_modal" data-modal="trigger-2" id="modal_for_successful_assignment">
	<article class="my_content-wrapper">
		<header class="my_modal-header">
			<h2 style="font-size:1.5vw;">Assignment Successful<img style="height: 2.5vw; width: 3vw; margin-left: 1.5vw;position:absolute;bottom: 14px;" src="{{url_for('static', filename='images/icons/success_icon.png')}}"></img></h2>
		</header>
		<div class="my_content" style="margin-top: 40px;margin-bottom: 40px; display:block;">
			<p>Student <span id="student_name_span_sucessful_assigned" style="font-weight:bold;">StudentName</span> is successfully assigned to mentor <span id="mentor_name_span_sucessful_assigned" style="font-weight:bold;">MentorName</span>.</p>
			<p id="email_to_student_and_professor_id" style="font-size: 0.8vw;">An email has been send to the student and cc to the professor.</p>
		</div>
		<footer class="my_modal-footer">
			<button class="my_action" onclick='location.reload()'>Assign More Student</button>
			<button style="background-color:#57BEF5;" class="my_action" onclick="redirect1()">Check Table</button>
		</footer>
	</article>
</div>
<!--------------------modal for successful asignment end----------------------------------->
<!--------------------modal for setting display ----------------------------------->
<h4 style="display:none" id="getMargin">{{numberForEachTable[5]}}</h4>
<div class="my_modal" data-modal="trigger-2" id="modal_for_setting_display">
	<article class="my_content-wrapper" style="padding:100px;">
		<header class="my_modal-header">
			<h2><i id="settingIcon" style="margin-top: 0px; margin-bottom: 0px; margin-right: 10px;font-size: 100%;" class="large material-icons">settings</i>Setting</h2>
		</header>
		<div class="my_content" style="display:block">
			<form action="#" id="rangeSliderFormId">
				<h5 style="font-size: 1.64rem;line-height: 0%;margin-right: 3%;margin-bottom: 0;margin-top: 4.5%;">Margin: </h5>
				<p class="range-field" id="rangeSliderPId">
					<input type="range" id="rangeSliderInputId" min="0" max="100"><label id="rangeValueLabel">0</label></input>
				</p>
			</form>
			<h5>Average Student Per Mentor: <span id="studentPerMentorLabel">{{numberForEachTable[3]}}</span></h5>
			<h5>Maximum Student Per Mentor Allowed: <span id="maxStudentPerMentorLabel">0</span></h5>
		</div>
		<footer class="my_modal-footer">
			<button class="my_action" onclick="applySettings()">Apply</button>
			<button style="background-color:#e74c3c;" class="my_action" onclick="document.getElementById('modal_for_setting_display').classList.remove('my_open');">Cancel</button>
		</footer>
	</article>
</div>
<!--------------------modal for successful setting display ----------------------------------->
<script>
//Function for range slider
let margin = parseFloat('{{numberForEachTable[5]}}');
let marginInPercentage = margin * 100;
let email_option_checked = false;
document.getElementById('rangeSliderInputId').value = marginInPercentage;
document.getElementById('rangeValueLabel').style.marginLeft = marginInPercentage - 2.8 + '%';
document.getElementById('rangeValueLabel').textContent = marginInPercentage + '%';
document.getElementById('maxStudentPerMentorLabel').textContent = parseInt((margin + 1) * parseInt(document.getElementById('studentPerMentorLabel').textContent));
$('#rangeSliderInputId').on('change input', function() {
	var $this = $(this);
	document.getElementById('rangeValueLabel').textContent = $this.val() + '%';
	document.getElementById('rangeValueLabel').style.marginLeft = $this.val() - 2.8 + '%';
	margin = $this.val() / 100;
	document.getElementById('maxStudentPerMentorLabel').textContent = parseInt((margin + 1) * parseInt(document.getElementById('studentPerMentorLabel').textContent));
});

function applySettings() {
	req = $.ajax({
		url: '/apply_settings',
		type: 'POST',
		data: {
			margin: margin
		}
	});
	$('body')[0].style.cursor = 'progress';
	setTimeout(function() {
		window.location.href = window.location.href;
	}, 1000); // waiting one second	
}

function settingButtonFunction() {
	let button = document.getElementById("settingIconButton");
	const trigger = button.getAttribute('data-modal-trigger');
	const modal = document.getElementById("modal_for_setting_display");
	const contentWrapper = modal.querySelector('.my_content-wrapper');
	contentWrapper.addEventListener('click', e => e.stopPropagation());
	modal.classList.toggle('my_open');
}
</script>
<script>
// Global variables
let switchStatus = false;
let mentorNumberColor = "green";
let mostRecentAssignedStudentName = "";
let mostRecentAssignedStudentEmail = "";
/* If page is come from other page by clicking the back button, refresh this page */
if(window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
	location.reload()
}
/* Redirect to mentoring_join page with cookie to indicate to look for most recent entry */
function redirect1() {
	window.location.href = "/mentoring_joined";
	document.cookie = "lookForMostRecentEntry=1"
}

function redirect2() {
	window.location.href = "/mentoring_joined";
	document.cookie = "lookForMostRecentEntry=0"
}
/* All the inputs onfocus functions */
function studentInputOnFocusFunction() {
	//document.getElementById("itemsInput-flexdatalist").value=''; 
	document.getElementById("studentErrorLabel").style.display = 'none';
}

function mentorInputOnFocusFunction() {
	//document.getElementById("itemsInput2-flexdatalist").value=''; 
	document.getElementById("mentorErrorLabel").style.display = 'none';
	document.getElementById("mentorCountErrorLabel").style.display = "none";
}

function studentLastNameInputOnFocusFunction() {
	document.getElementById("studentLastNameErrorLabel").style.display = 'none';
}

function studentFirstNameInputOnFocusFunction() {
	document.getElementById("studentFirstNameErrorLabel").style.display = 'none';
}

function studentRebelMailInputOnFocusFunction() {
	document.getElementById("studentRebelMailErrorLabel").style.display = 'none';
}
/* All the inputs onfocus functions */
/* Modals operations */
/* This function is used for button onclick for 2 close buttons in confirmation modal */
function closeConfirmationModalAndResetGloablVariables() {
	document.getElementById('modal_for_confirmation').classList.remove('my_open');
	mostRecentAssignedStudentName = '';
	mostRecentAssignedStudentName = '';
}
/* This function is used by below by the confirmButtonFunction() */
function openSuccessfulAssignmentModalAndCloseConfirmationModal() {
	if(email_option_checked) email_to_student_and_professor_id.style.display = "block";
	else email_to_student_and_professor_id.style.display = "none";
	document.getElementById('modal_for_confirmation').classList.remove('my_open');
	let button = document.getElementById("confirmButtonOnModal1");
	const trigger = button.getAttribute('data-modal-trigger');
	const modal = document.getElementById("modal_for_successful_assignment");
	const contentWrapper = modal.querySelector('.my_content-wrapper');
	contentWrapper.addEventListener('click', e => e.stopPropagation());
	modal.classList.toggle('my_open');
}
/* Function to called when the confirm button in the confirm modal is clicked */
function confirmButtonFunction() {
	email_option_checked = document.getElementById('checkBoxForEmail').checked;
	if(switchStatus == false) {
		req = $.ajax({
			url: '/assign_mentor_existed_student',
			data: {
				email_option_checked: email_option_checked
			},
			type: 'POST'
		});
		req.done(function(data) {
			console.log(data.EMAIL_SENT)
		});
		openSuccessfulAssignmentModalAndCloseConfirmationModal()
	} else {
		req = $.ajax({
			url: '/assign_mentor_new_stduent',
			data: {
				email_option_checked: email_option_checked
			},
			type: 'POST'
		});
		req.done(function(data) {
			console.log(data.EMAIL_SENT)
		});
		openSuccessfulAssignmentModalAndCloseConfirmationModal()
	}
}
/* Modals operations */
/* Assign button function */
/* Initial all variables which are the elements of the webpage*/
/* First part of initialization are the elements from main_menu page*/
function assignButtonFunction() {
	studentNameInput = document.getElementById("itemsInput-flexdatalist");
	mentorNameInput = document.getElementById("itemsInput2-flexdatalist");
	studentErrorLabel = document.getElementById("studentErrorLabel");
	mentorErrorLabel = document.getElementById("mentorErrorLabel");
	studentLastNameErrorLabel = document.getElementById("studentLastNameErrorLabel");
	studentFirstNameErrorLabel = document.getElementById("studentFirstNameErrorLabel");
	studentRebelMailErrorLabel = document.getElementById("studentRebelMailErrorLabel");
	studentLastNameInput = document.getElementById("studentLastNameInput");
	studentFirstNameInput = document.getElementById("studentFirstNameInput");
	studentRebelMailInput = document.getElementById("studentRebelMailInput");
	assignDateCalendar = document.getElementById("assignDateCalendarId");
	endDateCalendar = document.getElementById("endDateCalendarId");
	dateErrorLabel = document.getElementById("dateErrorLabel");
	assignmentErrorLabel = document.getElementById("assignmentErrorLabel");
	emailNotifyCheckBox = document.getElementById("checkBoxForEmail");
	email_to_student_and_professor_id = document.getElementById("email_to_student_and_professor_id");
	/* Second part of initialization are the elements from two modals */
	button = document.getElementById("assign_button_id");
	const trigger = button.getAttribute('data-modal-trigger');
	const modal = document.getElementById("modal_for_confirmation");
	const contentWrapper = modal.querySelector('.my_content-wrapper');
	const close = modal.querySelector('.my_close');
	student_name_span = document.getElementById("student_name_span");
	mentor_name_span = document.getElementById("mentor_name_span");
	//		mentor_name_span2 = document.getElementById("mentor_name_span2");
	student_name_span_sucessful_assigned = document.getElementById("student_name_span_sucessful_assigned");
	mentor_name_span_sucessful_assigned = document.getElementById("mentor_name_span_sucessful_assigned");
	/* Setting default values for some elements */
	assignmentErrorLabel.style.display = "none";
	emailNotifyCheckBox.checked = true;
	let boolSubmitSuccess = true;
	/* Client side check - for if the mentor has too many students , if so error label is displayed*/
	if(mentorNumberColor == "red") {
		document.getElementById("mentorCountErrorLabel").textContent = "Current mentor has too many students, please assign another mentor for this student."
		document.getElementById("mentorCountErrorLabel").style.display = "block";
		boolSubmitSuccess = false;
	}
	/* getting values from two date inputs, set it to "null" if input empty */
	let endDate = "";
	let assignDate = "";
	if(endDateCalendar.value.length > 0) {
		assignedDate = new Date(assignDateCalendar.value);
		endDate = new Date(endDateCalendar.value);
		//Clinet side check - for if the end date is earlier than the assign date, if so error label is displayed
		if(assignedDate > endDate) {
			dateErrorLabel.style.display = "block";
			boolSubmitSuccess = false;
		}
		endDate = endDateCalendar.value;
	} else {
		endDate = "null";
	}
	if(assignDateCalendar.value.length > 0) {
		assignDate = assignDateCalendar.value
	} else {
		assignDate = "null";
	}
	//Client side check - for if mentor name input is empty or not, if so error label is displayed
	if(mentorNameInput.value.length == 0) {
		mentorErrorLabel.style.display = "block";
		boolSubmitSuccess = false;
	}
	/*  -------------------- Assigning exsited student conditions checking -----------------------*/
	// Client side check - to see if the student name input is empty of not, if so error label is displayed
	if(switchStatus == false) {
		if(studentNameInput.value.length == 0) {
			studentErrorLabel.style.display = "block";
			boolSubmitSuccess = false;
		}
		// If any one part of checking gone worng, stop the submit function.
		if(boolSubmitSuccess == false) return;
		// Receiving values from labels and assigning them variables
		let studentName = studentNameInput.value;
		let mentorName = mentorNameInput.value;
		// Use ajax to send POST request to flask, and do some additional server side checkings
		console.log("student " + studentName + " is assinge to mentor " + mentorName + " (conditions checking).");
		req = $.ajax({
			url: '/assign_mentor_existed_student_check',
			type: 'POST',
			data: {
				studentName: studentName,
				mentorName: mentorName,
				assignDate: assignDate,
				endDate: endDate,
				relationship_id: globalSelectedStudentRelationshipId
			}
		});
		// When request done, see if all the server side checks are valid, if not, error label is displayed
		req.done(function(data) {
			if(data.RESULT != "SUCCESS") {
				assignmentErrorLabel.textContent = data.RESULT
				assignmentErrorLabel.style.display = "block"
				return;
			}
			// If success, display the confirmation modal, and setting all the texts.
			else {
				student_name_span.textContent = studentName;
				mentor_name_span.textContent = mentorName;
				//			mentor_name_span2.textContent = mentorName;
				student_name_span_sucessful_assigned.textContent = studentName;
				mentor_name_span_sucessful_assigned.textContent = mentorName;
				contentWrapper.addEventListener('click', e => e.stopPropagation());
				modal.classList.toggle('my_open');
				// Setting global variables so that they can be used as parameter when redirecting
				mostRecentAssignedStudentName = studentName;
				mostRecentAssignedStudentEmail = "";
			}
		});
	}
	/*  -------------------- End assigning exsited student conditions checking -----------------------*/
	/*  -------------------- Assigning new student conditions checking -----------------------*/
	else {
		/* More client side checks, if not pass error label is displayed */
		if(studentLastNameInput.value.length == 0) {
			studentLastNameErrorLabel.style.display = "block";
			boolSubmitSuccess = false;
		}
		if(studentFirstNameInput.value.length == 0) {
			studentFirstNameErrorLabel.style.display = "block";
			boolSubmitSuccess = false;
		}
		if(studentRebelMailInput.value.length == 0) {
			studentRebelMailErrorLabel.textContent = "Student rebel mail can not be empty.";
			studentRebelMailErrorLabel.style.display = "block";
			return;
		}
		/*	if(!studentRebelMailInput.value.includes("@unlv.nevada.edu")) {
				studentRebelMailErrorLabel.textContent = "Student rebel mail does not contains @unlv.nevada.edu.";
				studentRebelMailErrorLabel.style.display = "block";
				boolSubmitSuccess = false;
			}*/
		if(boolSubmitSuccess == false) return;
		/* Client side erorr checks done */
		/* Seding POST request to flask for additional server side check using ajax. */
		let studentLastName = studentLastNameInput.value;
		let studentFirstName = studentFirstNameInput.value;
		let studentRebelMail = studentRebelMailInput.value;
		let mentorName = mentorNameInput.value;
		console.log(endDate, assignDate, studentLastName, studentFirstName, studentRebelMail, mentorName);
		req = $.ajax({
			url: '/assign_mentor_new_stduent_check',
			type: 'POST',
			data: {
				studentFirstName: studentFirstName,
				studentLastName: studentLastName,
				mentorName: mentorName,
				assignDate: assignDate,
				endDate: endDate,
				studentRebelMail: studentRebelMail
			}
		});
		req.done(function(data) {
			if(data.RESULT != "SUCCESS") {
				assignmentErrorLabel.textContent = data.RESULT
				assignmentErrorLabel.style.display = "block"
				return;
			} else {
				student_name_span.textContent = studentLastName + ", " + studentFirstName;
				mentor_name_span.textContent = mentorName;
				//			mentor_name_span2.textContent = mentorName;
				student_name_span_sucessful_assigned.textContent = studentLastName + ", " + studentFirstName
				mentor_name_span_sucessful_assigned.textContent = mentorName;
				contentWrapper.addEventListener('click', e => e.stopPropagation());
				modal.classList.toggle('my_open');
				// Setting global variables for redirecting parameters
				mostRecentAssignedStudentName = studentLastName + ", " + studentFirstName;
				mostRecentAssignedStudentEmail = studentRebelMail;
			}
		});
	}
	/*  -------------------- End assigning new student conditions checking -----------------------*/
}
// The default display of all elements in the page
function defaultState() {
	document.getElementById("itemsInput-flexdatalist").value = "";
	document.getElementById("studentLastNameInput").value = "";
	document.getElementById("studentFirstNameInput").value = "";
	document.getElementById("studentRebelMailInput").value = "";
	document.getElementById("itemsInput2-flexdatalist").value = "";
	document.getElementById("endDateCalendarId").value = "";
	document.getElementById("studentCountPerMentor1").textContent = "";
	document.getElementById("studentCountPerMentor2").textContent = "";
	document.getElementById("studentCountPerMentor3").textContent = "";
	document.getElementById('assign_button_id').classList.remove('assign_button', 'assign_button2');
	document.getElementById('assign_button_id').classList.add('assign_button');
	errorLabels = document.getElementsByClassName("errorLabel");
	for(let label of errorLabels) {
		label.style.display = "none";
	}
}
// Change color for the student count text, as well as the global variable mentorNumberColor.
function mentorStudentTextColor(color) {
	mentorNumberColor = color;
	let button = document.getElementById('assign_button_id');
	if(color == "green") {
		$('#studentCountPerMentor2').css('color', "#31E151")
		button.classList.remove('assign_button', 'assign_button2');
		button.classList.add('assign_button');
		document.getElementById("mentorCountErrorLabel").style.display = "none"
	} else if(color == "yellow") {
		$('#studentCountPerMentor2').css('color', "#ffd996")
		button.classList.remove('assign_button', 'assign_button2');
		button.classList.add('assign_button');
		document.getElementById("mentorCountErrorLabel").style.display = "none"
	} else {
		$('#studentCountPerMentor2').css('color', "#DB0B0B")
		//$('#assign_button').prop('disabled', true);
		button.classList.remove('assign_button', 'assign_button2');
		button.classList.add('assign_button2');
	}
}
// When the student input is selected, the function is triggered.
var globalSelectedStudentRelationshipId = 0;
$('input.flexdatalist.student').on('change:flexdatalist', function(event, set, options) {
	var val = set.text;
	// Reset the mentor input if student input is empty.
	if(this.value.length == 0) {
		document.getElementById("itemsInput2-flexdatalist").value = ''
		return;
	}
	console.log(val)
	let parsedSet = JSON.parse(set.value);
	let relationship_id = parsedSet.relationship_id;
	globalSelectedStudentRelationshipId = parsedSet.relationship_id;
	// When the one of the student input avaliable is selected, the function is triggered.
	// It send a POST request to flask via ajax, so flask can find the correspond professor for this student and return a json
	req = $.ajax({
		url: '/update',
		type: 'POST',
		data: {
			relationship_id: relationship_id
		}
	});
	req.done(function(data) {
		//Setting all the element displays
		$('#studentCountPerMentor1').text("This mentor has ");
		$('#studentCountPerMentor2').text(data.student_count);
		$('#studentCountPerMentor3').text(" students.");
		$("#itemsInput2-flexdatalist").val(data.professor_name);
		mentorStudentTextColor(data.number_color);
		// Change the background color of the mentor input for 1 second
		var bg = $("#itemsInput2-flexdatalist").css('background'); // store original background
		$("#itemsInput2-flexdatalist").css('background', 'rgba(187, 236, 240, 0.2)'); //change second element background
		setTimeout(function() {
			$("#itemsInput2-flexdatalist").css('background', bg); // change it back after ...
		}, 1000); // waiting one second			
	});
	// Un-focus the student input
	$("#itemsInput-flexdatalist").blur();
	// Reset mentor input error labels 
	mentorInputOnFocusFunction();
	// Making sure the user is not clicking too fast (click before the server return message), disbale the assign button for 0.3 second.
	$("#assign_button_id").prop("disabled", true);
	setTimeout(function() {
		$("#assign_button_id").prop("disabled", false); // change it back after ...
	}, 300); // waiting one second	
});
// When the mentor input is selected, the function is triggered.------------
$('input.flexdatalist.mentor').on('change:flexdatalist', function(event, set, options) {
	var val = set.text;
	if(val.length == 0) {
		document.getElementById("studentCountPerMentor1").textContent = "";
		document.getElementById("studentCountPerMentor2").textContent = "";
		document.getElementById("studentCountPerMentor3").textContent = "";
		mentorStudentTextColor("green");
		return;
	}
	req = $.ajax({
		url: '/update_from_professor_datalist',
		type: 'POST',
		data: {
			name: val
		}
	});
	req.done(function(data) {
		$('#studentCountPerMentor1').text("This mentor has ");
		$('#studentCountPerMentor2').text(data.student_count);
		$('#studentCountPerMentor3').text(" students.");
		mentorStudentTextColor(data.number_color);
		$("#itemsInput2-flexdatalist").css('background', 'rgba(187, 236, 240, 0.2)'); //change second element background
		setTimeout(function() {
			$("#itemsInput2-flexdatalist").css('background', '#FfFFFF'); // change it back after ...
		}, 700); // waiting one second			
	});
	$("#itemsInput2-flexdatalist").blur();
	$("#assign_button_id").prop("disabled", true);
	setTimeout(function() {
		$("#assign_button_id").prop("disabled", false); // change it back after ...
	}, 300); // waiting one second	
});
// End mentor input selected function-----------------------------------------
$('input.flexdatalist.mentor').on('show:flexdatalist.results', function(event, set, options) {
	setTimeout(function() {
		if($("#itemsInput2-flexdatalist-results").length == 0) return;
		ul = $("#itemsInput2-flexdatalist-results")[0]
		for(var i = 0; i < ul.childNodes.length; i++) {
			li = ul.childNodes[i]
			if(li.childNodes[2].textContent == "FULL ") {
				li.childNodes[2].style.color = "#db0b0b"
			} else if(li.childNodes[2].textContent == "ALMOST FULL ") {
				li.childNodes[2].style.color = "#ffd996"
			} else {
				li.childNodes[2].style.color = "#31e151"
			}
		}
	}, 10);
});
$('input.flexdatalist.student').on('show:flexdatalist.results', function(event, set, options) {
	setTimeout(function() {
		if($("#itemsInput-flexdatalist-results").length == 0) return;
		ul = $("#itemsInput-flexdatalist-results")[0]
		for(var i = 0; i < ul.childNodes.length; i++) {
			li = ul.childNodes[i]
			if(li.childNodes[3].textContent == "1 ") {
				li.childNodes[2].style.visibility = "visible";
			}
		}
	}, 10);
});
// Function that handle the switch for New Stduent.
// First, it reset everything to default display
// Then according to the value(true or false) of the switch, it sets the display of the page
$(".switch").find("input[type=checkbox]").on("change", function() {
	var status = $(this).prop('checked');
	switchStatus = status;
	defaultState()
	if(status) {
		document.getElementById("itemsInput-flexdatalist").style.display = "none";
		document.getElementById("studentLabel").style.display = "none";
		document.getElementById("studentLastNameLabel").style.display = "block";
		document.getElementById("studentLastNameInput").style.display = "block";
		document.getElementById("studentFirstNameLabel").style.display = "block";
		document.getElementById("studentFirstNameInput").style.display = "block";
		document.getElementById("studentRebelMailLabel").style.display = "block";
		document.getElementById("studentRebelMailInput").style.display = "block";
		document.getElementById("calenderDiv").style.display = "inline-flex";
		document.getElementById("page-wrapper").style.marginTop = "3%";
	} else {
		document.getElementById("itemsInput-flexdatalist").style.display = "block";
		document.getElementById("studentLabel").style.display = "block";
		document.getElementById("studentLastNameLabel").style.display = "none";
		document.getElementById("studentLastNameInput").style.display = "none";
		document.getElementById("studentFirstNameLabel").style.display = "none";
		document.getElementById("studentFirstNameInput").style.display = "none";
		document.getElementById("studentRebelMailLabel").style.display = "none";
		document.getElementById("studentRebelMailInput").style.display = "none";
		document.getElementById("page-wrapper").style.marginTop = "7%";
	}
});
// Function that initialize the student input datalist
let studentJsonData = decodeHtml('{{studentJson}}');
$('.flexdatalist.student').flexdatalist({
	minLength: 0,
	valueProperty: '*',
	selectionRequired: true,
	visibleProperties: ["studentName", "relationship_id", "email", "duplicated"],
	searchIn: 'studentName',
	data: JSON.parse(studentJsonData),
	searchContain: true
});
document.getElementById("itemsInput-flexdatalist").spellcheck = false
document.getElementById("itemsInput-flexdatalist").onclick = studentInputOnFocusFunction
// Function that initialize the mentor input datalist
let jsonData = decodeHtml('{{professorJson}}');
$('.flexdatalist.mentor').flexdatalist({
	minLength: 0,
	valueProperty: '*',
	selectionRequired: true,
	visibleProperties: ["professorName", "count", "status"],
	searchIn: 'professorName',
	data: JSON.parse(jsonData)
});
document.getElementById("itemsInput2-flexdatalist").spellcheck = false
document.getElementById("itemsInput2-flexdatalist").onclick = mentorInputOnFocusFunction
/* Function that initialize calendar for assign date */
document.addEventListener('DOMContentLoaded', function() {
	var elems = document.querySelectorAll('.assignDateCalendar');
	var today = new Date();
	var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
	var options = {
		"format": "mm/dd/yyyy",
		"defaultDate": today,
		"setDefaultDate": true
	}
	var instances = M.Datepicker.init(elems, options);
});
$(document).ready(function() {
	$('.datepicker').datepicker();
});
/* Function that initialize calendar for end date */
document.addEventListener('DOMContentLoaded', function() {
	var elems = document.querySelectorAll('.endDateCalendar');
	var options = {
		"format": "mm/dd/yyyy"
	}
	var instances = M.Datepicker.init(elems, options);
});
$(document).ready(function() {
	$('.datepicker').datepicker();
});
// Funciton that initialize the floating button 
document.addEventListener('DOMContentLoaded', function() {
	var elems = document.querySelectorAll('.fixed-action-btn');
	var instances = M.FloatingActionButton.init(elems, {});
});
//nav bar drop down
$(".dropdown-trigger").dropdown({
	belowOrigin: true
});

function decodeHtml(str) {
	return str.replace(/&#(\d+);/g, function(match, dec) {
		return String.fromCharCode(dec);
	});
}
</script>

</html>