<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>UNLV CS Mentor App - Manage Students</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main2.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/manage_students.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>

	</style>
</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jquery.flexdatalist.min.css') }}">
	<script type="text/javascript" src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
	<script src="{{url_for('static', filename='jquery.flexdatalist.min.js')}}"></script>

	<ul id="dropdown1" class="dropdown-content">
		<li class="divider"></li>
		<li><a href="/change_password">Change Password</a></li>
		<li><a style="color:#e74c3c" href="delete_account" >Delete This Account</a></li>
		<li class="divider"></li>
		<li><a  style="color:grey" href="/logout">Log Out</a></li>
	</ul>
	
	<nav>
		<div class="nav-wrapper" style="background-color: #2b97d6;">
			<a onclick='window.location.href = "/"' style="margin-left: 20px;margin-right: 40px;position:relative; cursor:pointer;" class="brand-logo left">HOME</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a onclick='window.location.href = "/main_menu"'>Individual Assign</a></li>
				<li><a onclick='window.location.href = "/multiple_assign_page";'>Mass Assign</a></li>
				<li><a onclick='window.location.href = "/mentoring_joined"'>Table</a></li>
                <li><a onclick='window.location.href = "/manage_mentors"'>Manage Mentors</a></li>
                <li><a style="background-color: rgba(0,0,0,0.19);" >Manage Students</a></li>
				<li><a onclick='window.location.href = "/backup_database"' >Backup Database</a></li>
				<li><a onclick='window.location.href = "/restore_database"'>Restore Database</a></li>
				<li>
					<a onclick='window.location.href = "/approve_accounts"'>Account Approval
						{% if new_approve_accounts > 0 %}
							<span class="new badge my_badge">{{new_approve_accounts}}</span>
						{% endif %}
					</a>
				</li>
				<li><a style="position: absolute;right: 0px; margin-right: 20px;" class="dropdown-trigger" href="#!" data-target="dropdown1">{{ current_user_name[0]|upper}}{{current_user_name[1:] }}<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>

    <div class="limiter" id="limiterId">
		<div id="searchDiv">
			<input type="search" id="studentSearchInputId" autocomplete="off" spellcheck="false" placeholder="Seach Student Here" onchange="searchBarOnChange()" oninput="searchBarOnInput()">
			<div id="searchButton" onclick="searchBarOnChange()"><i id="floatButtonI" class="large material-icons">search</i></div>
		</div>
		<div class="wrap-table100">
			<div class="table100" id="main_table"> 
                <table style="border-bottom: 1px #7d7d7d5e solid; margin-bottom: 200px;">
                    <tr style="background-color: #2ecc71;">
                        <th style="display:none;">Student Id </th>
                        <th>Student Last Name</th>
                        <th>Student First Name</th>
                        <th>Student Email</th>
                        <th></th>
                    </tr>
					{% for i in range(student_2d_array|length)%}
					<tr class="main_table_tr">
                        {% for j in range(student_2d_array[i]|length)%}
                        <td>{{student_2d_array[i][j]}}</td>
                        {%endfor%}
                        <!---<td class="table_option"><i id="floatButtonI" class="large material-icons">list</i></td>-->
                        <td style="user-select: none !important;">
                            <a class='dropdown-trigger' data-target='dropdown_table{{i}}'><i id="floatButtonI" class="large material-icons">list</i></a>
                            <!-- Dropdown Structure -->
                            <ul id='dropdown_table{{i}}' class='dropdown-content' style="width:max-content !important;height:max-content !important;">
                                <li><a onclick="editStudent(this)">Edit Student</a></li>
                                <li class="divider"></li>
                                <li><a onclick="openUpDeleteStudentModal(this)" style="color:red;">Delete Student</a></li>
                            </ul>
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
		</div>
	</div>


	<div class="my_modal" data-modal="trigger-2" id="modal_for_delete_confirmation">
		<article class="my_content-wrapper">
			<header class="my_modal-header">
				<h2 style="font-size:1.5vw;">Delete Confirmation</h2>
			</header>
			<div class="my_content" style="margin-top: 40px;margin-bottom: 40px; display:block;">
				<p>Are you sure you want to delete student <span id="student_name_in_modal_for_delete_confirmation" style="font-weight:bold;">StudentName</span>?</p>
			</div>
			<footer class="my_modal-footer">
				<button class="my_action" onclick="deleteStudent(mostRecentDeleteItem)">Yes</button>
				<button style="background-color:#fd6262;" class="my_action" onclick="document.getElementById('modal_for_delete_confirmation').classList.remove('my_open')">No</button>
			</footer>
		</article>
	</div>

</body>
  <script>
		let mostRecentDeleteItem  = "";
		let hiddenRowNumber = 100;
		let global_trs = document.getElementsByClassName('main_table_tr')
		
        $(".dropdown-trigger").dropdown({
        	belowOrigin: true
		});
		
		for(var i = 0; i < global_trs.length; i++){
			global_trs[i].style.display = "table-row";
			if(i%2 == 0)
				$(global_trs[i]).addClass("oddRow")
			else
				$(global_trs[i]).removeClass("oddRow")
		}	

		global_trs = true;

		if(window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_RELOAD) {
			document.getElementById('studentSearchInputId').value = getCookie("searchBarContent")
			searchBarOnChange();
		}
		else
		{
			document.cookie = "searchBarContent=";
		}
		
		

		function getCookie(cname) {
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for(var i = 0; i <ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}	

		function searchBarOnInput(){
			let value = document.getElementById('studentSearchInputId').value
			document.cookie = "searchBarContent=" + value;
			let trs = document.getElementsByClassName('main_table_tr')
			if(value.length == 0){
				for(var i = 0; i < trs.length; i++){
					trs[i].style.display = "table-row";
					if(i%2 == 0)
						$(trs[i]).addClass("oddRow")
					else
						$(trs[i]).removeClass("oddRow")
				}
			}			
		}

		function searchBarOnChange(){
			let oddRow = true;
			let value = document.getElementById('studentSearchInputId').value
			document.cookie = "searchBarContent=" + value;
			let trs = document.getElementsByClassName('main_table_tr')
			for(var i = 0; i < trs.length; i++){
				if(trs[i].children[1].textContent.toLowerCase().includes(value.toLowerCase()) || trs[i].children[2].textContent.toLowerCase().includes(value.toLowerCase())){
					trs[i].style.display = "table-row";
					if(oddRow){
						$(trs[i]).addClass("oddRow")
						oddRow = false;
					}
					else{
						$(trs[i]).removeClass("oddRow")
						oddRow = true;
					}
				}
				else{
					trs[i].style.display = "none";
				}
			}
		}

        function decodeHtml(str) {
            return str.replace(/&#(\d+);/g, function(match, dec) {
                return String.fromCharCode(dec);
            });
        }


		function openUpDeleteStudentModal(element){
			mostRecentDeleteItem = element;
			let modal_for_delete_confirmation = document.getElementById('modal_for_delete_confirmation');
			modal_for_delete_confirmation.classList.add('my_open');
			let tr = element.parentElement.parentElement.parentElement.parentElement;
			let studentName = tr.children[1].textContent + ", " + tr.children[2].textContent;
			document.getElementById('student_name_in_modal_for_delete_confirmation').textContent = studentName;
		}

        function deleteStudent(element){
            let tr = element.parentElement.parentElement.parentElement.parentElement;
            let studentId = tr.children[0].textContent;
			let studentName = tr.children[1].textContent;

            req = $.ajax({
                    url: '/delete_student',
                    type: 'POST',
                    data: {
                        student_id: studentId
                    }
                });

            req.done(function(data) {
                if(data.RESULT == "SUCCESS"){
					alert("Student " + studentName + " deleted.")
					location.reload();
                    return;
                }
                else{
                    alert(data.MSG);
                    return;
                }
            });
        }

        function editStudent(element){
            let tr = element.parentElement.parentElement.parentElement.parentElement;
            let originalInnerHtml = tr.innerHTML;
            let trChildrenOriginalTextContent = [];
            for(let i = 1; i <= 3;i++)
                trChildrenOriginalTextContent.push(tr.children[i].textContent);


            tr.children[1].innerHTML = "<input class='table_edit_input' spellcheck='false' value='" + trChildrenOriginalTextContent[0] +"'>";
            tr.children[2].innerHTML = "<input class='table_edit_input' spellcheck='false' value='" + trChildrenOriginalTextContent[1] +"'>";
			tr.children[3].innerHTML = "<input class='table_edit_input' spellcheck='false' value='" + trChildrenOriginalTextContent[2] +"'>";
            tr.children[4].innerHTML = "<button class='table_action'>Confirm</button><button style='background-color:#ff4a37;' class='table_action'>Cancel</button>";

            let input1 = tr.children[1].firstElementChild;
            input1.focus()
            var val = input1.value; 
            input1.value = ''; 
			input1.value = val;  
						


            tr.children[4].children[0].onclick =  function confirmChangeRow(){
				let studentId = tr.children[0].textContent;
				let newStudentLastName = tr.children[1].firstElementChild.value.trim();
				let newStudentFirstName = tr.children[2].firstElementChild.value.trim();
                let newStudentEmail = tr.children[3].firstElementChild.value.trim();
                

                if(ValidateEmail(newStudentEmail) == false){
                    alert("please enter a valid email addersss.")
                    return;
                }

                req = $.ajax({
                        url: '/update_student',
                        type: 'POST',
                        data: {
                            student_id: studentId,
							new_student_last_name: newStudentLastName,
							new_student_first_name: newStudentFirstName,
                            new_student_email: newStudentEmail
                        }
                    });

                req.done(function(data) {
                    if(data.RESULT == "SUCCESS"){
						location.reload();
                    }
                    else{
                        alert(data.MSG);
                        return;
                    }
                });
            }

            tr.children[4].children[1].onclick = function cancelChangeRow(){
                var tempTr = document.createElement('tr');
                tempTr.innerHTML = originalInnerHtml;
                tempTr.children[4].children[1].style.display = "none";
                tr.innerHTML = tempTr.innerHTML;
                $(".dropdown-trigger").dropdown({
                    belowOrigin: true
                });
            }


        }

        function ValidateEmail(mail) 
        {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
            {
                return (true)
            }

            return (false)
        }
    




  </script>

</html>