<html class="myhtml">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>UNLV Faculty Mentoring Information Look Up</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/util.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
      
      <style>
        .dropdown-content {
          top: 100% !important;
        } 

			.myhtml {
			  font-family: 'Ubuntu', sans-serif;
			  font-size: 100%;
			  background: #333;
			  -webkit-font-smoothing: antialiased;
			  height:100%;
			}

			#page-wrapper {
			  width: 80%;
			  background: #FFFFFF;
			  padding: 1em;
			  margin: 1em auto;
			  border-top: 8px solid #785ad4;
			  box-shadow: 0 10px 10px rgba(0,0,0,0.8);
			  margin-top:7%;
			  border-radius:5px;
			  padding-left:30px;
        position:relative;
			  
			}   

			.myh1 {
			  margin-top: 0;
			  font-size:2vw;
			}
      
      .myp{
        font-size: 25px;
        padding-top:7px;
      }
      
      #contentWrapper{
        display: inline-flex;
        width:100%
      }
      
      .flexdatalist_border{
        border-bottom:1px solid black !important;
      }

      
      </style>
    </head>
    
    	<body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='jquery.flexdatalist.min.css') }}">
        <script type="text/javascript" src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="{{url_for('static', filename='jquery.flexdatalist.min.js')}}"></script>  
        <script src="{{url_for('static', filename='table2CSV.js')}}"></script>  
      
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
        
        <ul id="dropdown1" class="dropdown-content">
          <li class="divider"></li>
          <li><a href="#!">Log Out</a></li>
        </ul>

      <nav>
        <div class="nav-wrapper" style="background-color: #2b97d6;">
          <a onclick='window.location.href = "/"' style="margin-left: 20px;margin-right: 40px;position:relative" class="brand-logo left">HOME</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a onclick='window.location.href = "/main_menu"'>Individual Assign</a></li>
            <li><a style="background-color: rgba(0,0,0,0.19);">Mass Assign</a></li>
            <li><a onclick='window.location.href = "/mentoring_joined?username=&email="'>Table</a></li>
            <li><a onclick='window.location.href = "/backup_database"'>Backup Database</a></li>
             <li><a style = "position: absolute;right: 0px; margin-right: 20px;" class="dropdown-trigger" href="#!" data-target="dropdown1">John<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>   
      
      <div id="page-wrapper">
      
        <div id="contentWrapper">
          <p class="myp">Assign <span id="studentCount">0</span> students from professor</p>
          <input type='text'
           placeholder='Name'
           class='flexdatalist'
           data-search-in='professorName'
           data-visible-properties='["professorName"]'
           data-selection-required='true'
           data-value-property='id'
           data-text-property='{professorName}'
           data-min-length='0'
           name='country_id_multiple'>
        </div>
        
        <div class="list-group" style="display: inline-flex;width: 100%;flex-direction: row;>
          <a href="#" class="list-group-item list-group-item-action">Student, Name 1</a>
          <a href="#" class="list-group-item list-group-item-action">Student, Name 2</a>
          <a href="#" class="list-group-item list-group-item-action">Student, Name 3</a>
          <a href="#" class="list-group-item list-group-item-action disabled">Student, Name 4</a>
      </div>
      
      </div>
      
      
    </body>
    
    <script>
     let jsonData = decodeHtml('{{professorJson}}');
     let professorJsonDict = JSON.parse(jsonData);
     
    //nav bar drop down
    $(".dropdown-trigger").dropdown({
      belowOrigin: true
    });
    
    function decodeHtml(str) {
      return str.replace(/&#(\d+);/g, function(match, dec) {
        return String.fromCharCode(dec);
      });
    }
    
    $('.flexdatalist').flexdatalist({
       minLength: 1,
       valueProperty: 'professorName',
       selectionRequired: true,
       visibleProperties: ["professorName"],
       searchIn: 'professorName',
       data: JSON.parse(jsonData)
    });
    
    $('input.flexdatalist-alias.flex0').css("border-color","black")
    $('input.flexdatalist-alias.flex0').css("width","7%")
    $('input.flexdatalist-alias.flex0').css("margin-right","7px")
    $('input.flexdatalist-alias.flex0').css("border-right","0px")
    $('input.flexdatalist-alias.flex0').css("outline","none")
    $('input.flexdatalist-alias.flex0').css("margin-left","20px")
    $('input.flexdatalist-alias.flex0').css("font-size","25px")
    $('input.flexdatalist-alias.flex0')[0].classList.toggle('flexdatalist_border');
    
    function inputOnclick(){
      input = $('input.flexdatalist-alias.flex0')[0]
      input.value = ""
      var e = jQuery.Event("keyup");
      e.which = 40; // it is down
      $("input.flexdatalist-alias.flex0").trigger(e);
    }
    
   $('input.flexdatalist-alias.flex0')[0].onclick = inputOnclick;

  $('input.flexdatalist').on('change:flexdatalist', function(event, set, options) {
      var val = set.text;   
      if(val.length == 0){
        document.getElementById("studentCount").textContent = "0";
        return;
      }
      for(var i = 0 ; i < professorJsonDict.length;i++){
        if(val == professorJsonDict[i].professorName){
          document.getElementById("studentCount").textContent = professorJsonDict[i].count
        }
      }
      
	});
   
   
    
    </script>
</html>
        
        