<p>Download a file demo</p>


<a href="http://i.stack.imgur.com/kaxff.png" download="savename.png">Download `download` attribute</a>
<br>
<a href="#0" class="download-file" download="some-file.html">Download via JS</a>
<br>

<hr>

Instead:
<ul>
    <li>You could always just add the `Content-Disposition: attachment; filename="somefile.html"`</li>
    <li>You can even add the header in .htaccess: `Header set Content-Disposition "attachment"`</li>
</ul>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js">
$('.download-file').on('click', function(e) {
    
    // For IE
    if(window.navigator.msSaveOrOpenBlob) {
        var blobObject = new Blob(['<p>Hello world!</p>'], {type : 'text/html'});
        window.navigator.msSaveOrOpenBlob(blobObject, 'somefile.html');
        
        e.preventDefault();
    }
    // For browsers that support the `download` attribute
    else {
        // You could also create the url with `window.URL.createObjectURL`
        // var blobObject = new Blob(['<p>Hello world!</p>'], {type : 'text/html'});
        // this.href = window.URL.createObjectURL(blobObject)
        this.href = 'data:text/html;charset=utf-8,'
            + encodeURIComponent('<p>Hello world!</p>');
    }
    
    
    /* * /
    // Doesn't work, idk. It was an attempt for an IE solution
    // Suggested here: http://stackoverflow.com/a/25179390/796832
    // and here: http://stackoverflow.com/a/25179390/796832
    var bufferIframe = document.createElement('iframe');
    bufferIframe.setAttribute('sandbox', 'allow-same-origin');
    bufferIframe.setAttribute('srcdoc', '<p>Hello world!</p>');
    
    document.body.appendChild(bufferIframe);
    
    bufferIframe.contentWindow.document.open('text/plain', 'replace');
    // Keep jsFiddle from complaining about the `write` using 
    bufferIframe.contentWindow.document['write']('<p>write Hello world!</p>');
    bufferIframe.contentWindow.document.close();
    
    //console.dir(bufferIframe.contentDocument);
    bufferIframe.contentWindow.document.execCommand('SaveAs', true, 'request.bin');
    /* */
    
});
</script>